<a href="https://colab.research.google.com/github/AKHILM20DS007/AKHILM20DS007/blob/main/_TASK_CUSTOMER_SEGMENTATION_USING_RFM_MODEL_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [18]:
%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import datetime as dt
from matplotlib.gridspec import GridSpec
import seaborn as sns
import plotly.express as px
from sklearn.cluster import KMeans
from sklearn.preprocessing import StandardScaler as ss

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

In [19]:
# Data reading and printing head of the data 
data = pd.read_excel("/content/drive/MyDrive/A# Dataset practise/sales_data.xlsx")
data.head()

,CustomerID,TOTAL_ORDERS,REVENUE,AVERAGE_ORDER_VALUE,CARRIAGE_REVENUE,AVERAGESHIPPING,FIRST_ORDER_DATE,LATEST_ORDER_DATE,AVGDAYSBETWEENORDERS,DAYSSINCELASTORDER,...,WEEK3_DAY16_DAY23_REVENUE,WEEK4_DAY24_DAY31_REVENUE,TIME_0000_0600_ORDERS,TIME_0601_1200_ORDERS,TIME_1200_1800_ORDERS,TIME_1801_2359_ORDERS,TIME_0000_0600_REVENUE,TIME_0601_1200_REVENUE,TIME_1200_1800_REVENUE,TIME_1801_2359_REVENUE
0,22,124,11986.54,96.67,529.59,4.27,2016-12-30,2021-10-24,14.19,1,...,2592.18,2409.71,12,61,37,14,1067.92,5674.65,3916.53,1327.44
1,29,82,11025.96,134.46,97.92,1.19,2018-03-31,2021-10-24,15.89,1,...,2807.66,4106.19,1,13,24,44,30.25,3143.69,2205.47,5646.55
2,83,43,7259.69,168.83,171.69,3.99,2017-11-30,2021-10-24,33.12,1,...,713.94,2861.90,0,6,12,25,0.00,707.98,2560.91,3990.80
3,95,44,6992.27,158.92,92.82,2.11,2019-04-09,2021-10-24,21.11,1,...,997.02,1260.08,0,10,13,21,0.00,1908.99,2025.05,3058.23
4,124,55,6263.44,113.88,179.04,3.26,2020-10-23,2021-10-24,6.65,1,...,2725.66,768.46,6,9,27,13,501.34,1197.83,3004.77,1559.50

In [20]:
#Checking the shape of the data set
data.shape

(5000, 40)

In [21]:
#checking the basic information/details of the data
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 40 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   CustomerID                 5000 non-null   int64
 1   TOTAL_ORDERS               5000 non-null   int64
 2   REVENUE                    5000 non-null   float64
 3   AVERAGE_ORDER_VALUE        5000 non-null   float64
 4   CARRIAGE_REVENUE           5000 non-null   float64
 5   AVERAGESHIPPING            5000 non-null   float64
 6   FIRST_ORDER_DATE           5000 non-null   datetime64[ns]
 7   LATEST_ORDER_DATE          5000 non-null   datetime64[ns]
 8   AVGDAYSBETWEENORDERS       5000 non-null   float64
 9   DAYSSINCELASTORDER         5000 non-null   int64
 10  MONDAY_ORDERS              5000 non-null   int64
 11  TUESDAY_ORDERS             5000 non-null   int64
 12  WEDNESDAY_ORDERS           5000 non-null   int64
 13  THURSDAY_ORDERS            5000 non-null   int64
 14  FRIDAY_ORDERS              5000 non-null   int64
 15  SATURDAY_ORDERS            5000 non-null   int64
 16  SUNDAY_ORDERS              5000 non-null   int64
 17  MONDAY_REVENUE             5000 non-null   float64
 18  TUESDAY_REVENUE            5000 non-null   float64
 19  WEDNESDAY_REVENUE          5000 non-null   float64
 20  THURSDAY_REVENUE           5000 non-null   float64
 21  FRIDAY_REVENUE             5000 non-null   float64
 22  SATURDAY_REVENUE           5000 non-null   float64
 23  SUNDAY_REVENUE             5000 non-null   float64
 24  WEEK1_DAY01_DAY07_ORDERS   5000 non-null   int64
 25  WEEK2_DAY08_DAY15_ORDERS   5000 non-null   int64
 26  WEEK3_DAY16_DAY23_ORDERS   5000 non-null   int64
 27  WEEK4_DAY24_DAY31_ORDERS   5000 non-null   int64
 28  WEEK1_DAY01_DAY07_REVENUE  5000 non-null   float64
 29  WEEK2_DAY08_DAY15_REVENUE  5000 non-null   float64
 30  WEEK3_DAY16_DAY23_REVENUE  5000 non-null   float64
 31  WEEK4_DAY24_DAY31_REVENUE  5000 non-null   float64
 32  TIME_0000_0600_ORDERS      5000 non-null   int64
 33  TIME_0601_1200_ORDERS      5000 non-null   int64
 34  TIME_1200_1800_ORDERS      5000 non-null   int64
 35  TIME_1801_2359_ORDERS      5000 non-null   int64
 36  TIME_0000_0600_REVENUE     5000 non-null   float64
 37  TIME_0601_1200_REVENUE     5000 non-null   float64
 38  TIME_1200_1800_REVENUE     5000 non-null   float64
 39  TIME_1801_2359_REVENUE     5000 non-null   float64
dtypes: datetime64[ns](2), float64(20), int64(18)
memory usage: 1.5 MB

In [22]:
data.describe()

,CustomerID,TOTAL_ORDERS,REVENUE,AVERAGE_ORDER_VALUE,CARRIAGE_REVENUE,AVERAGESHIPPING,AVGDAYSBETWEENORDERS,DAYSSINCELASTORDER,MONDAY_ORDERS,TUESDAY_ORDERS,...,WEEK3_DAY16_DAY23_REVENUE,WEEK4_DAY24_DAY31_REVENUE,TIME_0000_0600_ORDERS,TIME_0601_1200_ORDERS,TIME_1200_1800_ORDERS,TIME_1801_2359_ORDERS,TIME_0000_0600_REVENUE,TIME_0601_1200_REVENUE,TIME_1200_1800_REVENUE,TIME_1801_2359_REVENUE
count,5000.000000,5000.00000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.00000,...,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000
mean,40709.227800,12.87040,1681.523840,136.537378,46.036376,3.592574,163.159618,87.420000,1.629000,1.75440,...,421.826908,474.462852,1.028800,3.746200,4.434000,3.661400,131.062636,486.863868,584.731626,478.865710
std,49949.848017,12.67988,1998.618678,91.651569,47.879226,2.021360,259.699496,80.156513,2.236506,2.43394,...,643.449120,617.579321,2.174331,4.700234,5.044793,4.581894,331.289349,789.029911,804.290026,743.244248
min,1.000000,1.00000,38.500000,10.680000,0.000000,0.000000,0.000000,1.000000,0.000000,0.00000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1687.500000,3.00000,315.097500,83.025000,9.980000,2.500000,21.670000,7.000000,0.000000,0.00000,...,0.000000,80.000000,0.000000,1.000000,1.000000,1.000000,0.000000,35.000000,89.990000,1.000000
50%,13765.000000,8.00000,966.725000,113.160000,24.985000,3.660000,57.635000,68.000000,1.000000,1.00000,...,194.990000,264.485000,0.000000,2.000000,3.000000,2.000000,0.000000,236.440000,299.840000,208.990000
75%,71891.500000,20.00000,2493.072500,160.272500,76.862500,4.790000,170.357500,171.250000,2.000000,3.00000,...,604.085000,651.487500,1.000000,6.000000,7.000000,5.000000,131.282500,661.952500,797.032500,620.117500
max,277160.000000,156.00000,34847.400000,1578.880000,529.590000,35.990000,1409.500000,207.000000,19.000000,23.00000,...,12946.220000,8274.970000,34.000000,61.000000,58.000000,64.000000,7700.240000,23832.770000,17749.010000,12995.020000


** To segment the customers will calculate :**


*   Create clusters using K-means
*   RFM Scores for each customers

In [23]:
# Detailing the  customerid and Revenue generated 
Revenue_data = data[['CustomerID','REVENUE']].drop_duplicates()

In [24]:
Revenue_data.groupby(['REVENUE']).agg({'CustomerID' : 'count'}).sort_values('REVENUE',ascending = False).reset_index().rename(columns = {'CustomerID':'CustomerID Count'})

       REVENUE  CustomerID Count
0     34847.40                 1
1     32486.98                 1
2     24178.97                 1
3     18554.49                 1
4     16884.99                 1
...        ...               ...
4630     59.95                 1
4631     59.94                 1
4632     51.94                 1
4633     45.94                 1
4634     38.50                 1

[4635 rows x 2 columns]

In [25]:
data["REVENUE"].value_counts()

175.00     10
180.99     10
124.99      9
129.99      9
144.99      8
           ..
2693.28     1
2678.47     1
2648.16     1
2352.90     1
94.14       1
Name: REVENUE, Length: 4635, dtype: int64

In [26]:
data["CustomerID"].value_counts()

22        1
238099    1
7691      1
4638      1
4477      1
         ..
1079      1
846       1
786       1
616       1
200783    1
Name: CustomerID, Length: 5000, dtype: int64

So we can see that mostly revenue generated customers are with id 1. So we will keep the data for the United Kingdom only and will filter out all others country data.

In [27]:
#Creating a duplicate of the data 
data1 = data.copy()

In [28]:
data.describe()

,CustomerID,TOTAL_ORDERS,REVENUE,AVERAGE_ORDER_VALUE,CARRIAGE_REVENUE,AVERAGESHIPPING,AVGDAYSBETWEENORDERS,DAYSSINCELASTORDER,MONDAY_ORDERS,TUESDAY_ORDERS,...,WEEK3_DAY16_DAY23_REVENUE,WEEK4_DAY24_DAY31_REVENUE,TIME_0000_0600_ORDERS,TIME_0601_1200_ORDERS,TIME_1200_1800_ORDERS,TIME_1801_2359_ORDERS,TIME_0000_0600_REVENUE,TIME_0601_1200_REVENUE,TIME_1200_1800_REVENUE,TIME_1801_2359_REVENUE
count,5000.000000,5000.00000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.00000,...,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000
mean,40709.227800,12.87040,1681.523840,136.537378,46.036376,3.592574,163.159618,87.420000,1.629000,1.75440,...,421.826908,474.462852,1.028800,3.746200,4.434000,3.661400,131.062636,486.863868,584.731626,478.865710
std,49949.848017,12.67988,1998.618678,91.651569,47.879226,2.021360,259.699496,80.156513,2.236506,2.43394,...,643.449120,617.579321,2.174331,4.700234,5.044793,4.581894,331.289349,789.029911,804.290026,743.244248
min,1.000000,1.00000,38.500000,10.680000,0.000000,0.000000,0.000000,1.000000,0.000000,0.00000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1687.500000,3.00000,315.097500,83.025000,9.980000,2.500000,21.670000,7.000000,0.000000,0.00000,...,0.000000,80.000000,0.000000,1.000000,1.000000,1.000000,0.000000,35.000000,89.990000,1.000000
50%,13765.000000,8.00000,966.725000,113.160000,24.985000,3.660000,57.635000,68.000000,1.000000,1.00000,...,194.990000,264.485000,0.000000,2.000000,3.000000,2.000000,0.000000,236.440000,299.840000,208.990000
75%,71891.500000,20.00000,2493.072500,160.272500,76.862500,4.790000,170.357500,171.250000,2.000000,3.00000,...,604.085000,651.487500,1.000000,6.000000,7.000000,5.000000,131.282500,661.952500,797.032500,620.117500
max,277160.000000,156.00000,34847.400000,1578.880000,529.590000,35.990000,1409.500000,207.000000,19.000000,23.00000,...,12946.220000,8274.970000,34.000000,61.000000,58.000000,64.000000,7700.240000,23832.770000,17749.010000,12995.020000

In [29]:
#checking for null values
data.isna().sum()

CustomerID                   0
TOTAL_ORDERS                 0
REVENUE                      0
AVERAGE_ORDER_VALUE          0
CARRIAGE_REVENUE             0
AVERAGESHIPPING              0
FIRST_ORDER_DATE             0
LATEST_ORDER_DATE            0
AVGDAYSBETWEENORDERS         0
DAYSSINCELASTORDER           0
MONDAY_ORDERS                0
TUESDAY_ORDERS               0
WEDNESDAY_ORDERS             0
THURSDAY_ORDERS              0
FRIDAY_ORDERS                0
SATURDAY_ORDERS              0
SUNDAY_ORDERS                0
MONDAY_REVENUE               0
TUESDAY_REVENUE              0
WEDNESDAY_REVENUE            0
THURSDAY_REVENUE             0
FRIDAY_REVENUE               0
SATURDAY_REVENUE             0
SUNDAY_REVENUE               0
WEEK1_DAY01_DAY07_ORDERS     0
WEEK2_DAY08_DAY15_ORDERS     0
WEEK3_DAY16_DAY23_ORDERS     0
WEEK4_DAY24_DAY31_ORDERS     0
WEEK1_DAY01_DAY07_REVENUE    0
WEEK2_DAY08_DAY15_REVENUE    0
WEEK3_DAY16_DAY23_REVENUE    0
WEEK4_DAY24_DAY31_REVENUE    0
TIME_0000_0600_ORDERS        0
TIME_0601_1200_ORDERS        0
TIME_1200_1800_ORDERS        0
TIME_1801_2359_ORDERS        0
TIME_0000_0600_REVENUE       0
TIME_0601_1200_REVENUE       0
TIME_1200_1800_REVENUE       0
TIME_1801_2359_REVENUE       0
dtype: int64

RFM Modeling Technique :

Here we will calculate the Recency, Frequency and Monetary for the customers and those are defined as ;


Recency : How much time has elapsed since a customer's last activity or transaction with the brand?

Frequency : How often has a customer transacted or interacted with the brand during a particular period of time?

Monetary : How much a customer has spent with the brand during a particular period of time?

In [31]:
data.groupby(['CustomerID'])['TOTAL_ORDERS'].sum()

CustomerID
1         61
2         59
3         53
4         84
5         26
          ..
248709     2
248710     2
259042     2
266024     2
277160     3
Name: TOTAL_ORDERS, Length: 5000, dtype: int64

In [32]:
data.groupby(['CustomerID'])['TOTAL_ORDERS '].sum().plot(kind='bar')

KeyError: ignored

In [14]:
# For recency will check what was the last date of transaction
#First will convert the InvoiceDate as date variable
data['InvoiceDate']=pd.to_datetime(data['InvoiceDate'])
data['InvoiceDate'].max()

KeyError: ignored

so the last date was 2011-12-09 for transaction. So will take latest date for benchmark as 2011-12-10, for the calculation of the Recency.

In [ ]:
#RFM factors calculation:
Latest_date = dt.datetime(2011,12,10)
RFM_data = data.groupby('CustomerID').agg({'InvoiceDate' : lambda x :(Latest_date - x.max()).days,
                                          'InvoiceNo' : 'count','TotalAmount' : 'sum'}).reset_index()
                                          
#converting the names of the columns
RFM_data.rename(columns = {'InvoiceDate' : 'Recency',
                          'InvoiceNo' : "Frequency",
                          'TotalAmount' : "Monetary"},inplace = True)
RFM_data.head()